:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #ddd;
}

.list-container {
  width: 100%;
}

.list-container > button {
  display: none;
}

.list-container:has(.list) > button {
  display: block;
  width: 100px;
  margin: 16px auto 0 auto;

  background-color: rebeccapurple;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.heading button {
  font-size: 24px;
  color: rebeccapurple;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.product {
  display: grid;
  grid-template-columns: 1fr 64px;
  gap: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px 16px;
}

.product-name {
  font-size: 18px;
  font-weight: 700;
}

.product-price {
  text-align: right;
  font-weight: 700;
  color: rebeccapurple;
}

.product-description {
  grid-column: -1 /1;
  font-size: 14px;
  color: #666;
}

.company {
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;

  /* border: 1px solid rebeccapurple;
  border-radius: 5px;
  padding: 12px 16px; */
}

.company-name {
  font-weight: 700;
}

.company-phrase {
  margin-top: 6px;
  font-size: 14px;
  color: rebeccapurple;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
